body {
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 70%;
    margin: 30px;
    background-color: rgb(106, 106, 175);
    color: white;
}

.container {
    background-color: rgb(154, 154, 212);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 10px;

    grid-template: 1fr .5fr 6fr/ 1fr 1fr 1fr 1fr;
}

.dashboard {
    padding: 40px;
    display: grid;
    grid-row: 1 / -1;
    border-radius: 6px;
    justify-content: center;
    align-items: start;  
}

.all-dash-el {
    position: sticky;
    top: 20px;
}

#dash-first {
    position: relative;
    right: 20px;
}

.dash-one, .dash-two, .dash-three{
    display: flex;
    gap: 30px;
}

.dash-two-icons, .dash-three-icons {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 30px;
    gap: 10px;
    position: relative;
    top: 15px;
}

.navbar {
    background-color: #6495ec;
    padding: 10px;
    border-radius: 10px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-icons {
    height: 30px;
    width: 30px;
}

input[type=text]{
    border-radius: 10px;
    border: none;
    height: 25px;
    width: 35rem;
    text-indent: 10px;
    margin-right: auto;   
}

input:focus {
    outline-color: #6495ec;    
}

.top-nav,
.bottom-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
}

.mochi-png {
    height: 30px;
    width: 30px;
}

.bottom-nav img {
    height: 70px;
    width: 70px;
}

.greet-msg {
    margin-right: auto;
}

.greet-msg h1, .greet-msg p{
    margin: 0;
}

button {
    background-color: rgb(154, 154, 212);
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
    border: none;
}

.heading {
    background-color: #6495ec;
    padding: 10px;
    border-radius: 10px;
    grid-column: 2 / 4;
}

.content {
    background-color: rgb(227, 179, 55);
    border-radius: 10px;
    padding: 10px;
    grid-column: 2 / 4;
    grid-row: 3 / -1;
    display: grid;
    grid-template: repeat(auto-fit, minmax(200px, 1fr)) / repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    background-color: gold;
    border-radius: 10px;
    padding: 10px;
}

.icon {
    display: flex;
    justify-content: end;
    gap: 10px;
    position: relative;
    right: 20px;
}

.announce-trend {
    background-color: #6495ec;
    border-radius: 10px;
    padding: 10px;
    grid-column: 4 / -1;
    grid-row: 2 / -1;
    z-index: 1;
}

.announce-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trending {
    background-color:rgb(223, 209, 214);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-content {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    align-items: center;
}

.profile-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 6px;
    justify-self: center;
}

hr {
    width: 90%;               
    background-color:#ffd602;
    height: 1px;
}