.container {
    display: grid;
    gap: 10px;

    grid-template: .4fr .2fr 3fr/ 1fr 1fr 1fr 1fr;
}

.dashboard {
    background-color: aqua;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    gap: 10px;
}

.dash-el {
    background-color:dodgerblue;
    padding: 10px;
}

.dash-first, 
.dash-second, 
.dash-third {
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: start;
}

.navbar {
    background-color: pink;
    padding: 10px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-nav,
.bottom-nav {
    background-color: coral;
    display: flex;
    gap: 20px;
}

.heading {
    background-color: cornflowerblue;
    padding: 10px;
    grid-column: 2 / 3;
}

.content {
    background-color: goldenrod;
    padding: 10px;
    grid-column: 2 / 4;
    grid-row: 3 / -1;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 10px;
}

.card {
    background-color: gold;
}

.announce-trend {
    background-color: lightgreen;
    padding: 10px;
    grid-column: 4 / -1;
    grid-row: 3 / -1;
}

.announcements {
    background-color: aqua;
    padding: 5px;
}

.announce-content {
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending {
    background-color: aqua;
}

hr {
    width: 90%;               
    background-color:#FFFF00;
    height: 1px;
}